

   <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Your Destination</div>
  <div class="card-body">
    <h5 class="card-title">Where do you want to go?</h5>
<div id="email" class="form-group" data-step="1"> 
      <label>From:</label>
      <input id="from-input" class="form-control" type="frominput">
    </div>
<div id="password" class="form-group final" data-step="2"> 
      <label for="to-input">To:</label>
      <input id="to-input" class="form-control" type="toinput">
    </div>
  <p id="error message"></p>

  <button class="btn btn-primary" href="" id="Submit-button" >Submit</button>

  <div id="back-button">&#8592;</div>

</div>
   </div>
   <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Your Destination:</div></div>

    <div id="googleMap"></div>
  

    <div id="output"></div>

 

<script src="/js/getapi.js"></script>