

   <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Welcome</div>
  <div class="card-body">
    <h5 class="card-title">Login</h5>
<div id="email" class="form-group" data-step="1"> 
      <label>Enter your Email</label>
      <input id="email-input" class="form-control" type="text">
    </div>
<div id="password" class="form-group final" data-step="2"> 
      <label for="password-input">Enter your Password</label>
      <input id="password-input" class="form-control" type="password">
    </div>
  <p id="error message"></p>

  <button class="btn btn-primary" href="/signup" id="next-button" >Next</button>

  <div id="back-button">&#8592;</div>
    
   <div class="info-section">
     <p>Dont have an account yet?</p>
     <a href="/signup">Sign up Here!</a>
   </div>
  </div>

  </div>
</div>

<script src="./js/login.js"></script>
