
  <div class="card" style="width: 18rem;">
  <h5 class="card-header">Sign Up Now</h5>

  <div class="card-body">
<div class="card">

  <div class="col-md-4" data-step="1">
      <h5 for="firstname-input" class="card-title" style="width: 200px;">First Name</h5>
    <input type="text" style="width: 200px;" class="form-control" id="firstname-input" >
  </div>

  <div class="col-md-4" data-step="2">
      <h5 for="lastname-input" class="card-title" style="width: 200px;">Last Name</h5>
    <input type="text" style="width: 200px;" class="form-control" id="lastname-input" >
  </div>
  
    <div class="col-md-4" data-step="3">
      <h5 for="email-input" class="card-title" style="width: 200px;">Enter Your Email</h5>
      <input type="text" style="width: 200px;" class="form-control" id="email-input"  >
    </div>

    <div class="col-md-4" data-step="4">
      <h5 for="email-verification-input"class="card-title" style="width: 200px;">Confirm Email</h5>
        <input type="text" style="width: 200px;" class="form-control" id="email-verification-input" >
    </div>

    <div class="col-md-4" data-step="5">
     <h5 for="password-input" class="card-title" style="width: 200px;">Enter Your Password</h5>
        <input type="password" style="width: 200px;" class="form-control" id="password-input" >
    </div> </div> 

    <div class="col-md-4" data-step="6">
     <h5 for="password-verification-input" class="card-title" style="width: 400px;">Confirm Your Password</h5>
      <input type="password" style="width: 200px;" class="form-control" id="password-verification-input"  >
   
    <p class="card-text">Lets Travel!</p>
    <button id="next-button" class="btn btn-primary" type="submit" style="color: white; width:200px;">Submit form</button>
  </div>
  
  <p id= "error-message"></p>

  <div id="back-button">&#8592;</div>

  <div class="info-section">
      <p>Already Have an Account?</p>
      <a href="/views/login.handlebars"> Log in Here</a>
  </div>
  </div>    </div> </div> 
  
